{#{% set currentPath = path(app.request.attributes.get('_route'),#}
{#    app.request.attributes.get('_route_params')) %}#}
{#{% set root = '/bo/' %}#}
{#{% set user = '/bo/users/' %}#}
{#{% if currentPath == root %}#}
{#{% elseif currentPath == user %}#}

{#{% endif %}#}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
</nav>
