<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
    {{ encore_entry_link_tags('app-front') }}
</head>

<body>

{% include 'front/include/nav.twig' %}

<div class="container">
    {% block body %}{% endblock %}
</div>

</body>
{% include('front/include/footer.twig') %}
{% block javascripts %}
    {{ encore_entry_script_tags('app-front') }}
{% endblock %}
</html>
