{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
<style>
    .rating {
        direction: rtl;
    }
    .rating a {
        color: #aaa;
        text-decoration: none;
        font-size: 3em;
        transition: color .4s;
    }
    .rating a:hover,
    .rating a:focus,
    .rating a:hover ~ a,
    .rating a:focus ~ a {
        color: orange;
        cursor: pointer;
    }

</style>
{% endblock %}
{% block title %}New Review{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

                <script src="/build/runtime.js"></script>
                <script src="/build/review.js"></script>
        {% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header"><h1>Create new Review</h1></div>
        <div class="card-body">
            {{ include('review/_form.html.twig') }}
            <div class="rating" id="rate">
                <a id="star5" href="#5" title="5">☆</a>
                <a id="star4" href="#4" title="4">☆</a>
                <a id="star3" href="#3" title="3">☆</a>
                <a id="star2" href="#2" title="2">☆</a>
                <a id="star1" href="#1" title="1">☆</a>
            </div>
            <input type="hidden" id="ratingscore" value="abc">
            <a href="{{ path('review_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
