{% extends 'base.html.twig' %}

{% block title %}New ProductTag{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header"><h1>Create new ProductTag</h1></div>
        <div class="card-body">
            {{ include('product_tag/_form.html.twig') }}

            <a href="{{ path('product_tag_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
