{% extends 'base.html.twig' %}

{% block title %}New ProductTag{% endblock %}

{% block body %}
    <h1>Create new ProductTag</h1>

    {{ include('product_tag/_form.html.twig') }}

    <a href="{{ path('product_tag_index') }}">back to list</a>
{% endblock %}
