{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}
{% form_theme form _self %}
{% block body %}

    <div class="card">
        <div class="card-header">
            <h1><a class="btn btn-primary" href="{{ path('article_index') }}"><i class="fas fa-arrow-alt-circle-left"></i></a>  Create new Article</h1></div>
        {{ include('article/_form.html.twig') }}
    </div>
{% endblock %}