<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
    {{ encore_entry_link_tags('app-admin') }}
</head>

<body>

{% include 'bo/include/nav.twig' %}
<div class="row" id="admin-body-row">
    {% include 'bo/include/sidebar.twig' %}
    <div class="col">
        {% block body %}{% endblock %}
    </div>
</div>
{% include('bo/include/footer.twig') %}
{% block javascripts %}
    {{ encore_entry_script_tags('app-admin') }}
{% endblock %}
</body>
</html>